@import "@/scss/variables.scss";
.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    height: 100%;
    background-color: white;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 3px; 
    border: solid 1px #efefef;

    &__header {
        padding: 0 24px;
        height: 53px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px #efefef;

        .title {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;

            i {
                width: 16px;
                margin-right: 16px;
            }
        }
    }

    &__body {
        padding: 16px 24px;

        &--no-horizontal-padding {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    &__footer {
        height: 46px;
        display: flex;
        align-items: center;
        padding: 0 24px;
    }
}
