@import "@/scss/_variables.scss";

body {
    background-color: #FBFBFB;
    font-family: 'Open Sans', 'Work Sans', sans-serif !important;
    font-size: 16px;
    color: #424242;
}

strong {
    font-weight: 600;
}

a {
   text-decoration: none;
}